{# mk42 #}
{# mk42/templates/mk42/includes/meta/static/js.html #}

{% load static %}

{% load compress %}

{# django generated js #}
<script type="text/javascript" src="{% url "jsi18n" %}"></script>
<script type="text/javascript" src="{% url "js-reverse" %}"></script>


{# HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries #}
<!--[if lt IE 9]>
    {% compress js %}
        <script type="text/javascript" src="{% static "html5shiv/dist/html5shiv.js" %}"></script>
        <script type="text/javascript" src="{% static "respond/dest/respond.src.js" %}"></script>
    {% endcompress %}
<![endif]-->

{% compress js %}
    {# js libs #}
    <script type="text/javascript" src="{% static "mk42/jquery/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mk42/materializecss/js/materialize.min.js" %}"></script>
    {# common project js #}
    {# apps #}
{% endcompress %}
